<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Añadir vehículo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="garageForm" (ngSubmit)="addNote()">
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-input type="text" formControlName="marca"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Modelo</ion-label>
      <ion-textarea formControlName="modelo"></ion-textarea>
    </ion-item>
    <ion-button shape="round" color="primary" fill="solid" type="submit" [disabled]="!this.garageForm.valid"><ion-icon name="add"></ion-icon>&nbsp; Añadir</ion-button>
  </form>
</ion-content>
