<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancelar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="garageForm" (ngSubmit)="editNote()">
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-input type="text" formControlName="marca"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Modelo</ion-label>
      <ion-textarea formControlName="modelo"></ion-textarea>
    </ion-item>
    <ion-button shape="round" color="primary" fill="solid" type="submit">Editar</ion-button>
  </form>
</ion-content>
