<!-- Estructura visual de tab3, que se encarga de visualizar varios recursos nativos -->

<ion-header>
  <ion-toolbar>

    <!-- Botón para el menú lateral -->
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Varios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <h5>Recurso de audio</h5>
    </ion-row>
    <ion-row>
      <!-- Botón que llama a un método encargado de reproducir un sonido. Dicho botón tendrá una animación CSS3 -->
      <ion-button (click)="this.reproducir()" class="bubbly-button"><ion-icon name="musical-notes"></ion-icon>&nbsp; Reproducir sonido</ion-button>
    </ion-row>
  </ion-grid>

  <ion-item class="ion-margin-top">
    <ion-label>Animación de Ionic en Toast</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <!-- Botón simple que mostrará un Toas de ejemplo. Pero en 
      este proyecto, está implementado una animación de Ionic general para los Toast,
      por lo que este botón es una vía rápida para probar dicha animación -->
      <ion-button (click)="this.activarToast()">Activar Toast</ion-button>
    </ion-row>
  </ion-grid>

  <ion-item class="ion-margin-top">
    <ion-label>Recurso de vídeo</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <!-- Botón que mostrará un streaming de vídeo -->
      <ion-button (click)="this.startVideo()">Abrir vídeo</ion-button>
    </ion-row>
  </ion-grid>

  <ion-item class="ion-margin-top">
    <ion-label>Micrófono</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <!-- Botón para permitir a la app permisos del micrófono -->
      <ion-button (click)="this.getPermiso()">Obtener permiso</ion-button>
      <!-- Botones para iniciar la grabación (para parar si es en iOS) -->
      <ion-button (click)="this.startListening()">Grabar</ion-button>
      <ion-button (click)="this.stopListening()" *ngIf="this.isIos()">Parar de grabar</ion-button>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      Lista de lo que se ha reconocido
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Después de que se haya grabado el micrófono, muestro en
        en pantalla el array del texto que se ha entendido -->
        <ion-item *ngFor="let texto of textoReconocido">
          {{ texto }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

</ion-content>
