<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <h5>Recurso de audio</h5>
    </ion-row>
    <ion-row>
      <ion-button (click)="this.reproducir()" class="bubbly-button"><ion-icon name="musical-notes"></ion-icon>&nbsp; Reproducir sonido</ion-button>
    </ion-row>
  </ion-grid>
  

</ion-content>
