<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Varios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <h5>Recurso de audio</h5>
    </ion-row>
    <ion-row>
      <ion-button (click)="this.reproducir()" class="bubbly-button"><ion-icon name="musical-notes"></ion-icon>&nbsp; Reproducir sonido</ion-button>
    </ion-row>
  </ion-grid>

  <ion-item class="ion-margin-top">
    <ion-label>Animación de Ionic en Toast</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-button (click)="this.activarToast()">Activar Toast</ion-button>
    </ion-row>
  </ion-grid>

  <ion-item class="ion-margin-top">
    <ion-label>Recurso de vídeo</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-button (click)="this.startVideo()">Abrir vídeo</ion-button>
    </ion-row>
  </ion-grid>
  

</ion-content>
